@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Twinkle.Identity.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>


    @if (ViewData.ModelState.ValidationState == ModelValidationState.Invalid)
    {
        <div class="alert alert-danger m-auto">
            @ViewData.ModelState.Root.Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }

@{
    if (Model.ExternalLogins.Count == 0)
    {
        <div>No external logins configured</div>
    }
    else
    {
        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-primary" style="width:auto"
                            name="provider" value="@provider.Name"
                            title="Login using your @provider.DisplayName account">
                        @provider.DisplayName
                    </button>
                }
            </div>
        </form>
    }
}
<form autocomplete="off" asp-route="Login">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div class="card">
        <input type="text" class="form-control form-control-lg" placeholder="Username" asp-for="Username" autofocus>
        <input type="password" class="form-control form-control-lg form-control-last" placeholder="Password" asp-for="Password">
    </div>
    <p>
        <button type="submit" class="btn btn-dark btn-block mt-3">Login</button>
    </p>
</form>